
body {
  margin: 40px;
  background: #fafafa;
  color: #212529;
}

.container {
  max-width: 500px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
}


label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


input:invalid {
  border-color: #c92a2a;
  background-color: #fff5f5;
}

input:valid {
  border-color: #2b8a3e;
  background-color: #f4fdf4;
}


button {
  display: block;
  width: 30%;
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background: #f1f3f5;
}

